<.table id="visitors" rows={@family_members}>

  <:col :let={family_member} label="First Name">
    <.link href={~p"/personal_details/#{family_member.id}"}><u> <%= family_member.first_name%> </u> </.link>
  </:col>
  <:col :let={family_member} label="Last Name"> <%= family_member.last_name%> </:col>
  <:col :let={family_member} label="Date Of Birth"> <%= family_member.dob%> </:col>

</.table>
