<.table id="visitors" rows={@family_members}>

  <:col :let={family_member} label="First Name"> <%= family_member.first_name%> </:col>
  <:col :let={family_member} label="Last Name"> <%= family_member.last_name%> </:col>
  <:col :let={family_member} label="Date Of Birth"> <%= family_member.dob%> </:col>

</.table>