<.simple_form :let={form} for={%{}} phx-submit="save" >

  <.input 
  field={form[:email]} 
  type="email"
  label="Email"
  />

  <.input 
  field={form[:password]} 
  type="text" 
  label="Password"
  minlength="12"
  />

  <.input 
  field={form[:role]} 
  type="select"
  label="Role"
  options={["admin", "super admin", "staff"]}
  />

  <.button>Save</.button>

</.simple_form>